canvas {
    width: 100vw;
    height: 100vh;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.btn--connexion {
    padding: 0.75em 1.75em;
    background: #606961;
    color: #E0F1FF;
    border: none;
    border-radius: .5em;
    margin: 1em 0 .5em;
    position: absolute;
    top: 5px;
    left: 15px;
    z-index: 100;
}

.buying {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
    background-color: #606961;
    width: 400px;
    height: 300px;
    padding: 0.25em 2em;
}


#modal {
    position: absolute;
    background: white;
    display: flex;
    padding: 10px;
    border-radius: 5px;
    bottom: 5px;
    right: 5px;
    width: 400px;
    flex-direction: column;
}

#modal .title {
    font-size: 2rem;
    line-height: 1.5rem;
    font-weight: 600;
    color: rgb(17 24 39);
}

#modal .content {
    margin: 10px 0;
}

#modal .content div {
    display: flex;
    flex-direction: row;
    align-items: center;

}

#modal .content--title {
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 600;
    color: rgb(17 24 39);
}

#modal .content--text {
    margin-left: 4px;
    font-size: 0.9rem; /* 14px */
    line-height: 1.25rem; /* 20px */
    font-weight: 400;
    color: rgb(107 114 128);
}

/*#modal .text {*/
/*    font-size: 0.875rem; !* 14px *!*/
/*    line-height: 1.25rem; !* 20px *!*/
/*    color: rgb(107 114 128);*/
/*}*/
/*#modal .text span {*/
/*    font-size: 0.875rem; !* 14px *!*/
/*    line-height: 1.25rem; !* 20px *!*/
/*    font-weight: 400;*/
/*    color: rgb(107 114 128);*/
/*}*/

#modal button {
    margin-top: 10px;
    padding: 0.25rem 0.5rem;
    background-color: #4F46E5;
    color: #ffffff;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 600;
    border-radius: 0.25rem;
    border: none;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

#modal button:hover {
    background-color: #6366F1;
}
